In [ ]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import sklearn.tree as tree

In [ ]:
mydata = pd.read_csv('fun.csv', delimiter=",")
mydata.head()

         DATE   1   2   3   4   5   6   7   8
0  2022-08-09  16  19  25  26  27  33  45  38
1  2022-08-05   7  16  19  33  36  48  49   5
2  2022-08-02   4   5  15  18  22  28  32  19
3  2022-07-29   7  14  17  18  19  23  41  16
4  2022-07-26   3   8   9  15  21  27  31  33

In [ ]:
mydata.shape

(63, 9)

In [ ]:
x = mydata[['1', '2', '3', '4', '5', '6', '7', '8']].values
x

array([[16, 19, 25, 26, 27, 33, 45, 38],
       [ 7, 16, 19, 33, 36, 48, 49,  5],
       [ 4,  5, 15, 18, 22, 28, 32, 19],
       [ 7, 14, 17, 18, 19, 23, 41, 16],
       [ 3,  8,  9, 15, 21, 27, 31, 33],
       [ 1,  9, 19, 34, 37, 39, 49,  6],
       [ 6,  9, 17, 19, 31, 34, 46,  4],
       [ 4,  7, 12, 18, 29, 47, 49, 48],
       [ 8, 11, 15, 16, 26, 29, 40, 37],
       [ 7, 12, 14, 18, 46, 47, 49, 19],
       [12, 29, 33, 35, 38, 41, 46, 13],
       [ 1, 11, 13, 14, 25, 36, 47, 50],
       [ 8, 19, 22, 41, 42, 46, 47, 10],
       [ 3,  9, 17, 19, 20, 44, 50, 28],
       [ 2,  4,  5, 22, 32, 40, 50, 43],
       [ 1, 10, 12, 21, 30, 39, 40, 38],
       [11, 17, 18, 25, 36, 41, 50, 34],
       [ 8, 14, 16, 17, 19, 22, 24, 23],
       [ 6, 13, 17, 20, 28, 36, 44, 31],
       [ 2, 16, 17, 21, 38, 43, 45, 42],
       [ 6, 13, 23, 27, 35, 44, 50, 37],
       [ 4,  9, 21, 22, 27, 31, 34,  5],
       [12, 26, 30, 31, 35, 39, 45, 22],
       [ 5,  6, 20, 29, 42, 44, 47, 14],
       [10, 35, 38, 40, 45, 47, 48, 23],
       [ 2, 22, 37, 38, 39, 42, 47, 30],
       [ 6, 15, 18, 19, 20, 27, 28, 24],
       [ 3,  6, 11, 18, 19, 28, 41, 26],
       [ 6, 11, 22, 24, 27, 29, 33, 31],
       [ 8,  9, 19, 32, 37, 46, 48, 45],
       [ 3, 10, 15, 31, 35, 38, 42, 22],
       [13, 14, 23, 30, 34, 36, 42, 33],
       [ 1,  6, 10, 27, 42, 45, 50, 43],
       [ 1,  6, 18, 21, 30, 32, 37, 35],
       [ 3,  5,  7, 19, 32, 34, 50, 25],
       [ 1,  2, 14, 15, 21, 26, 29,  4],
       [14, 24, 34, 39, 43, 48, 50, 20],
       [ 7, 10, 18, 29, 38, 43, 50, 41],
       [ 7, 17, 32, 34, 39, 45, 47, 42],
       [ 3,  7, 16, 18, 27, 32, 37, 17],
       [14, 16, 20, 26, 33, 36, 48,  1],
       [ 5,  7, 12, 18, 26, 29, 46, 25],
       [ 3,  7, 12, 17, 23, 38, 40, 27],
       [ 5,  7, 12, 22, 28, 43, 47,  1],
       [10, 12, 13, 18,  5, 26, 37, 39],
       [ 2,  4, 14, 18, 24, 46, 47, 23],
       [ 5,  6, 28, 36, 40, 46, 50, 27],
       [ 2,  4, 17, 28, 35, 44, 46,  5],
       [ 3, 13, 26, 27, 28, 36, 45, 50],
       [ 2,  3,  8, 11, 12, 37, 49, 36],
       [19, 26, 28, 36, 40, 42, 48,  6],
       [ 1, 10, 12, 30, 33, 34, 36,  4],
       [16, 29, 32, 34, 38, 39, 47, 18],
       [ 5, 15, 19, 22, 37, 46, 47,  1],
       [ 9, 14, 24, 26, 29, 39, 49, 42],
       [ 3,  7,  8, 10, 34, 43, 47, 16],
       [11, 13, 18, 20, 23, 30, 40, 37],
       [10, 14, 21, 26, 28, 36, 50, 41],
       [ 2, 15, 25, 28, 30, 35, 38, 31],
       [ 2,  4,  7, 10, 14, 21, 34, 26],
       [ 1,  3, 24, 25, 27, 36, 47, 12],
       [ 4,  5, 31, 39, 42, 45, 50, 11],
       [ 7,  8, 13, 20, 25, 26, 48, 36]])

In [ ]:
from sklearn import preprocessing
y = mydata['8']
y

0     38
1      5
2     19
3     16
4     33
      ..
58    31
59    26
60    12
61    11
62    36
Name: 8, Length: 63, dtype: int64

In [ ]:
y.value_counts()

23    3
1     3
4     3
37    3
5     3
42    3
31    3
38    2
36    2
27    2
41    2
25    2
26    2
22    2
50    2
19    2
16    2
33    2
6     2
43    2
34    1
20    1
12    1
18    1
39    1
17    1
48    1
35    1
45    1
13    1
24    1
30    1
14    1
10    1
28    1
11    1
Name: 8, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
# The train_test_split will return 4 different parameters
# x_trainset, x_testset, y_trainset, y_testset

# train_test_split will need the parameters:
# x, y, test_size = 0.3, and random_state = 3

# x, y are the arrays required before the split, the test_size represents the
# ratio of the testing dataset
# the random_state ensures that we can ontain the same splits

x_trainset, x_testset, y_trainset, y_testset = train_test_split(x, y, test_size=0.3, random_state=3)

In [ ]:
print(x_trainset.shape)
print(y_trainset.shape)
print(x_testset.shape)
print(y_testset.shape)
y_trainset[0:5]

(44, 8)
(44,)
(19, 8)
(19,)

62    36
40     1
46    27
33    35
16    34
Name: 8, dtype: int64

In [ ]:
#MODELING
dtree = DecisionTreeClassifier(criterion="entropy", max_depth=4)
tree

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [ ]:
dtree.fit(x_trainset, y_trainset)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [ ]:
pretree = dtree.predict(x_testset)

In [ ]:
print(pretree)
print(y_testset)

[ 4 42 43 25  5  6 37 27 37 27 37  6  6 42 25 17 17 37 37]
6      4
54    42
49    36
59    26
47     5
23    14
31    33
34    25
25    30
13    28
28    31
12    10
60    12
48    50
4     33
36    20
9     19
18    31
58    31
Name: 8, dtype: int64

In [ ]:
from sklearn import metrics
import matplotlib.pyplot as plt
print(metrics.accuracy_score(y_testset, pretree))

0.15789473684210525